

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json



node_modules/
build/
.cache/
dist/
.tmp/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example



.DS_Store
Thumbs.db

.vscode/
.idea/



docker-compose.override.yml
